body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* colors */
.bg-gradient-primary {
    background: linear-gradient(to right top, rgba(104,150,246,0.47),rgba(215,241,244,1));
    /* background: linear-gradient(to right top,rgba(149,185,203,1),rgba(204,250,254,1)); */
}

.shadow {
    box-shadow: .3rem .3rem 6rem rgba(0,0,0,.15);
}

.bg-dark-38 {
    background-color: rgba(4, 3, 39, 0.38);
}
/* text */
.main-title {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

/* CARDS */
.card-icon {
    width: 20%;
    margin: 1rem auto 0;
}

.round-3 {
    border-radius: 0.75rem;
}


/* FOOTER */
.footer {
    /* position: relative; */
    /* bottom: 0; */
    width: 100%;
    height: 60px;
}

/* FORMS */
.form-group {
    position: relative;
    padding-bottom: 48px;
}

.form-control_underline {
    border-top: none;
    border-right: none;
    border-left: none;
}

.form-control:valid {
    border-bottom-color: #28a745;
}

.form-label_animate {
    position: absolute;
    left: 0;
    top: -8px;
    /* transform: translate(12px, -150%); */
    transition: 0.5s ease;
}

.form-control:focus ~ .form-label_animate {
    transform: translate(0,-90%);
}

.form-control:valid ~ .form-label_animate {
    transform: translate(0,-90%);
}

/* MEDIA QUERIES */
@media (max-width: 767px){
    :root {
        font-size: 12px;
    }

}

@media (min-width: 850px) {
    .w-md-50 {
        width: 50%;
    }
}